* {
  --dark: rgb(40, 42, 63);
  --light-dark: rgb(110, 112, 138);
  --grey: rgb(154, 161, 177);
  --light-grey: rgb(217, 219, 255);
  --primary: rgb(80, 185, 99);
  --red: rgb(236, 73, 73);
  --light-red: rgb(244, 127, 102);
  --orange: rgb(251, 175, 99);
  --blue: rgb(78, 128, 193);
  --light: rgb(244, 247, 250);
  --white: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SF UI Display";
}

.container {
  background-color: var(--light);
}

.logo {
  position: relative;
  top: 25vh;
}

.logo p {
  color: var(--primary);
  font-size: 50px;
  font-weight: 800;
  display: inline;
  margin-left: 25%;
}

.welcome {
  color: var(--primary);
  font-size: 26px;
  font-weight: 170px;
  position: relative;
  top: 55vh;
  margin-left: 25%;
}

.reg {
  position: relative;
  top: 65vh;
  margin-left: 25%;
}

.sign-in {
  height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--primary);
  border-radius: 5px;
  outline: none;
  border: 1px;
  width: 250px;
}

.sign-up {
  height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--light);
  border-radius: 5px;
  outline: none;
  border: 1px;
  border-color: var(--primary);
  width: 250px;
}
